/* Font Configurations */
@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-ExtraLightIt.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-BlackIt.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-BoldIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-It.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-LightIt.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-MediumIt.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-SemiboldIt.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

:root {
    /* Dashboard and Menu buttons */
    --primary: #7678ed;

    /* Search bar, projects, announcement and trending */
    --items: white;

    --background: rgb(206, 216, 226);
}

body {
    background-color: var(--background);
    font-family: 'Source Code Pro', sans-serif;
    margin: 0;
    padding: 0;
}

img{
    height: 35px;
    width: 35px;
}

.sidebar img {
    filter: invert(100%);
}

.main-page {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 10fr;
}

.sidebar {
    display: grid;
    gap: 40px;
    background-color: var(--primary);
    color: var(--items);
    margin: 0;
    padding: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    grid-auto-rows: 50px;
}

.sidebar .title {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: center;
}
.sidebar .title h2 {
    justify-self: left;
    font-size: 20pt;
    margin: 0;
}

.interact {
    display: grid;
    grid-auto-rows: 300px;
    gap: 50px;
}

.options,
.customer-support {
    display: grid;
    gap: 3px;
    grid-auto-rows: 50px;
}

.option-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: center;
    gap: 5px;
}

.option-item p {
    font-weight: bold;
    margin: 0;
    justify-self: left;
}

.header {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    
    grid-template-rows: repeat(2, 75px);
    
    background-color: var(--items);
    padding: 5px;
}

.top {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    margin: 0;
}

.search form {
    display: grid;
    align-items: center;
    padding: 5px;
    grid-template-columns: 1fr 10fr;
    gap: 5px;
}

.search form label {
    justify-self: right;
}

.search input {
    all: unset;
    background-color: var(--background);
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    height: 18pt;
    width: 80%;
}

.search input:focus {
    border: 2px rgb(71, 151, 255) solid;
}

.user-info-small {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    place-items: center;
    font-weight: bold;
    gap: 10px;
}

.user-info-small .notif-icon {
    justify-self: right;
}

.user-info-small .user-icon,
.user-info-big .user-icon {
    background-color: var(--background);
    padding: 10px;
    border-radius: 60px;
}

.user-info-small p {
    font-size: 16pt;
}

.bottom {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.user-info-big {
    display: grid;
    grid-template-columns: 75px 300px;
    place-items: center;
    padding-left: 45px;
}

.user-info-big p {
    margin: 0;
    font-weight: bold;
}

.user-info-big .username {
    font-size: 18pt;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-items: center;
    gap: 10px;
}

li {
    display: grid;
    background-color: var(--primary);
    height: 40px;
    width: 100px;
    font-weight: bold;
    color: var(--items);
    border-radius: 30px;
    place-items: center;
}
